body{
    background: url("/assets/logo.svg");
    background-repeat: no-repeat;
    background-position: 145% 0%;
    
}

#addon-wrapping{
    background: url("/assets/search.svg") no-repeat;
    background-size: 13px 15px;
    background-position: 0.30rem center;
  }

  #borde{
    border: 1px solid #313945;
  }
  #botonColor{
    background-color:#313945;
    color: white;
  }